body{
    background-color: rgb(226, 226, 226);
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 11fr;

}

.mainContent{
    grid-area: 2/2/-1/3;
}

.sideBar{
    grid-area: 2/1/3/-2;
}

.header{
    grid-column: 1/-1;
}

*{
    padding: 0;
    margin: 0;
}

div{
    border: 2px solid black;
}

.newTaskForm{
    display: flex;
    flex-direction: column;
    width: 25rem;
    gap: .3rem;
    border: 2px solid green;
}