@import url(../node_modules/@fortawesome/fontawesome-free/css/all.css);
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/roboto/roboto-v30-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./fonts/roboto/roboto-v30-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/roboto/roboto-v30-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/roboto/roboto-v30-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('./fonts/roboto/roboto-v30-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/roboto/roboto-v30-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
  }

body{
    background-color: rgb(255, 255, 255);
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 11fr;
    font-family: "Roboto";
    
}

.mainContent{
    grid-area: 2/2/-1/3;
    position:relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sideBar{
    grid-area: 2/1/3/-2;
    background-color: rgb(224, 224, 224);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: hidden;
}

.header{
    grid-column: 1/-1;
    background-color: rgb(97 109 116);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}




.inbox{
    margin-left: -3.5rem;
    margin-bottom: 2rem;
}

.inbox::before{
    content: "\f01c";
    font-family: "Font awesome 5 free";
    font-weight: 900;
}

.todayFolder::before{
    content: "\f005";
    font-family: "Font awesome 5 free";
    font-weight: 900;
    color: rgb(12, 42, 54);
}

.upcomingFolder::before{
    content: "\f783";
    font-family: "Font awesome 5 free";
    font-weight: 900;
    color: rgb(12, 42, 54);
}

.allTasksFolder::before{
    content: "\f0ae";
    font-family: "Font awesome 5 free";
    font-weight: 900;
    color: rgb(12, 42, 54);
}

.customFolder::before{
    content: "\f07b";
    font-family: "Font awesome 5 free";
    font-weight: 900;
    color: rgb(12, 42, 54);
}

.sideBarFolder,
.inbox{
    font-size: 1.5rem;
    position: relative;
    margin-right: 2rem;
    cursor:pointer;
}

.sideBarFolder::before{
    position: absolute;
    margin-left: -2rem;
}

.sideBarFolders{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:1.2rem;
}

.sideBarFolder:hover:before{
    color: rgb(17, 146, 221)
}

.newFolderButton{
    background-color: transparent;
    width: 5rem;
    height: 5rem;
    appearance: none;
    border: none;
    position:fixed;
    bottom: 1rem;
    left: 17rem;
    cursor: pointer;
}

.newFolderButton::before{
    content: "\f65e";
    font-family: "Font awesome 5 free";
    font-weight: 900;
    font-size: 2.5rem;
}

.newFolderButton:hover::before{
    content: "\f65e";
    font-family: "Font awesome 5 free";
    font-weight: 900;
    font-size: 3.4rem;
    color: rgb(17, 146, 221);
}

.addButton{
    position: fixed;
    right: 2.5rem;
    bottom: 48rem;
    background-color: transparent;
    width: 5rem;
    height: 5rem;
    appearance: none;
    border: none;
    cursor: pointer;
}

.addButton::before{
    content: "\e4ee";
    font-family: "Font awesome 5 free";
    font-weight: 900;
    font-size: 2rem;
}

.addButton:hover::before{
    content: "\e4ee";
    font-family: "Font awesome 5 free";
    font-weight: 900;
    font-size: 3.4rem;
    color: rgb(17, 146, 221);
}